<h1>Unassigned tickets</h1>

<% if @tickets_unassigned.count == 0 %>

<p>No tickets found for this view.</p>

<% else %>
<table id="tickets">
  <tr>
    <th>#</th>
    <th>Subject</th>
    
    <th>Requester</th>
    <th>Created at</th>
    <th></th>
  </tr>

<% @tickets_unassigned.each do |ticket| %>
  <tr class="<%= cycle("even", "odd") %>" >
    <td><%= ticket.number %></td>


    <% if can? :update, ticket %>
      <td><%= link_to ticket.subject, edit_ticket_path(ticket) %></td>
    <% elsif can? :show, ticket %>
      <td><%= link_to ticket.subject, ticket %></td>
    <% end %>

    
    <td><%= ticket.requestor.abbreviated_name %></td>
    <td><%= ticket.abbreviated_created_at %></td>

    <td>
    <% if can? :destroy, ticket %>
      <%= link_to 'Delete', ticket, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<% end %>
