<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table cellpadding="0" cellspacing="0" id="add_company">
    <tr>
      <td class="label"><%= f.label :name, 'Company name' %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :address_one %></td>
      <td><%= f.text_field :address_one %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :address_two %></td>
      <td><%= f.text_field :address_two %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :city %></td>
      <td><%= f.text_field :city %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :state %></td>
      <td><%= f.text_field :state %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :zipcode %></td>
      <td><%= f.text_field :zipcode %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :web_address %></td>
      <td><%= f.text_field :web_address %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :phone_number_office %></td>
      <td><%= f.text_field :phone_number_office %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :phone_number_fax %></td>
      <td><%= f.text_field :phone_number_fax %></td>
    </tr>
    <tr>
      <td class="label"></td>
      <td></td>
    </tr>
  </table>
  
  <div class="actions" style="text-align:right;width:500px;">
    <%= f.submit :disable_with => "Processing..."  %> or <%= link_to 'Cancel', users_path, :class => 'cancel' %>
  </div>
<% end %>
